2.html
<!DOCTYPE html><html><head><title>Children With Diabetes</title><link href="css/2.css" rel="stylesheet" type="text/css" /><script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script><script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script><script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script><script src="javascript/all.js" type="text/javascript"></script><meta content="width=960,height=1280,maximum-scale=1.0" name="viewport" /></head><body><div id="content"><a class="answer1" href="2_incorrect.html?choice=1"></a><a class="answer2" href="2_correct.html"></a><a class="answer3" href="2_incorrect.html?choice=3"></a></div></body></html>

2.slim
doctype html
html
  head
    title Children With Diabetes
    link rel="stylesheet" type="text/css" href="css/2.css"
    script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"
    script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"
    script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
    script src="javascript/all.js" type="text/javascript"
    meta name="viewport" content="width=960,height=1280,maximum-scale=1.0" 

  body
    #content
      a class="answer1" href="2_incorrect.html?choice=1"
      a class="answer2" href="2_correct.html"
      a class="answer3" href="2_incorrect.html?choice=3"
        
