3_correct.html
<!DOCTYPE html><html><head><title>Children With Diabetes</title><link href="css/3.css" rel="stylesheet" type="text/css" /><script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script><script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"></script><script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script><script src="javascript/all.js" type="text/javascript"></script><meta content="width=960,height=1280,maximum-scale=1.0" name="viewport" /></head><body><div id="content"><div class="correct_answer"></div><div class="yes_correct"></div><a class="next" href="end.html"></a></div></body></html>

3_correct.slim
doctype html
html
  head
    title Children With Diabetes
    link rel="stylesheet" type="text/css" href="css/3.css"
    script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"
    script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript"
    script src="javascript/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"
    script src="javascript/all.js" type="text/javascript"
    meta name="viewport" content="width=960,height=1280,maximum-scale=1.0" 

  body
    #content
      div class="correct_answer" 
      div class="yes_correct" 
      a href="end.html" class="next"
